<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.monmouth.callnumber" version="0.0.1">
  <name>Cordova Call Number Plugin</name>
  <description>Call Number from Cordova Application</description>
  <license>Apache 2.0</license>
  <keywords>cordova,call,dialer,phonegap</keywords>
  <js-module src="www/CallNumber.js" name="CallNumber">
    <clobbers target="call"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CallNumber">
        <param name="ios-package" value="CallNumber"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CallNumber.h" />
    <source-file src="src/ios/CallNumber.m" />
  </platform>
  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="CallNumber">
              <param name="android-package" value="com.monmouth.callnumber.CallNumber"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.CALL_PHONE" />
      </config-file>
      <source-file src="src/android/CallNumber.java" target-dir="src/com/monmouth/callnumber" />
  </platform>
</plugin>
