<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="call-number"
  version="0.0.2">

  <description>Call Number from Cordova Application</description>

  <name>Cordova Call Number Plugin</name>
  <author>Rohith Varanasi, Nishil Shah</author>
  
  
  <repo>https://github.com/Rohfosho/CordovaCallNumberPlugin.git</repo>
  <issue>https://github.com/Rohfosho/CordovaCallNumberPlugin/issues</issue>

  <license>Apache 2.0</license>
  <keywords>cordova,call,dialer,phonegap</keywords>
  <js-module src="www/CallNumber.js" name="CallNumber">
    <clobbers target="call"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CallNumber">
        <param name="ios-package" value="CFCallNumber"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CFCallNumber.h" />
    <source-file src="src/ios/CFCallNumber.m" />
  </platform>

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="CallNumber">
              <param name="android-package" value="com.rohithvaranasi.callnumber.CFCallNumber"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.CALL_PHONE"/>
          <uses-feature android:name="android.hardware.telephony" android:required="false" />
      </config-file>
      <source-file src="src/android/CFCallNumber.java" target-dir="src/com/rohithvaranasi/callnumber" />
  </platform>
</plugin>
